{% extends 'admin/index.html' %}
{% block content %}
<div class="extra module">
    <table style="width:100%">
        <caption>
            <a href="#" class="section" title="">Reports</a>
        </caption>
        <tbody>
            <tr class="">
                <th scope="row"><a href="https://10ay.online.tableau.com/#/site/communitytechnologyalliance/projects/178404" target="blank">Tableau Reports</a></th>
            </tr>
        </tbody>
    </table>
</div>
{{ block.super }}
{% endblock %}
